@page "/"

<img src="https://i.ibb.co/jJf3cmw/banner-qualidadesoft.png" title="bannertopo" width=1024>

<h1>Qualidade de Software 2020/1</h1>

Trabalhando com repositório de código fonte no GIT.

<SurveyPrompt Title="How is Blazor working for you?" />
